.paginationContainer {
  display: flex;
  flex-direction: column;
}

.pages {
  min-height: 40px;
}

.pages,
.pageSize {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pages > span {
  display: inline-flex;
  align-items: center;
}

.showAllWrapper {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  user-select: none;
}



.prevBtn,
.nextBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  svg {
    display: block;
  }
}

.nextBtn {
  svg {
    transform: rotate(-90deg);
  }
}

.prevBtn {
  svg {
    transform: rotate(90deg);
  }
}
