.filtersContainer {
  position: relative;
  display: inline-block;
  align-self: end;
  width: 100%;
}

.searchRow {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background: transparent; /* Или легкое затемнение */
}

.filterPopup {
  position: absolute;
  top: calc(100% + 8px);
  right: 0;
  z-index: 100;
  width: 320px;
  padding: 16px;
  background-color: var(--color-white);
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.filterGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.filterTitle {
  width: 100%;
  font-weight: 600;
  text-transform: uppercase;
}

.buttonGroup {
  display: flex;
  gap: 8px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 8px;
}
